{% include base_path %}

<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.<br />
  <a href="{{ base_path }}/terms-and-conditions/">Terms and conditions</a>
  &middot;
  <a href="{{ base_path }}/fee-guide/">Fee Guide</a>
  &middot;
  <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
  <br />
  <span class="page__footer-disclaimer">This site is not for emergencies. If you are in crisis, please contact your local emergency services.</span>
</div>
